<div class="container-fluid">
    <h2>Review Form</h2>
    <div >
      <h2 class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</h2>
      <h2 class="col-ml" *ngIf="successMsg && !errorMsg">{{successMsg}}</h2>
    </div>
    <form [formGroup]="reviewForm" (ngSubmit)="SubmitData()">
          <div class="form-group">
            <label >Name</label>
            <input formControlName="name" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label >Email</label>
            <input formControlName="email" type="text" class="form-control" >
          </div>
          
          <div class="form-group">
            <label >Feedback</label><br>
              <input formControlName="feedback" type="radio" id="great"  value="Great">
            <label for="great">Great</label>
              <input formControlName="feedback" type="radio" id="ok"  value="Okay">
            <label for="ok">Okay</label>
              <input formControlName="feedback" type="radio" id="ngood"  value="not good">
            <label for="ngood">Not good</label>
          </div>
          
          <div class="form-group">
            <label >Comments</label><br>
            <textarea formControlName="comment" rows="4" cols="50"></textarea>
        </div>   
        <button  type="Submit" class="btn btn-primary">Submit</button>
      
    </form>
    <button (click)="loadApi()">LoadApi</button>
    <p>{{reviewForm.value|json}}</p>
</div>
